#s {
    border:1px solid #fff;
}

.pagination > li > a.hover {
  color: #fff;
  background-color: #000000;

}
.child_image_left img{
    float:left;
    border-radius: 50%;
    margin-right: 10px;
}
.image_bordered img, 
.avatar img{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.index_menu .navbar-nav > li > a {
    text-transform:uppercase;
}
.depth-2.comments_item {
    margin-left: 75px;
}
.depth-2.comments_item {
    margin-left: 75px;
}
.sidebar_box a.category.orange_link{
	color:orange;
}
.sidebar_box a.category.orange_link:hover{
	color:#000000;
}
a.random-article{
    position: absolute;
    right: 141px;
    top: 13px;   
    color: #fff;
    text-transform: uppercase;
}
.my-top-logo{
    position: absolute;
    left: 74px;
    top: 1px;
}

.load_more-wrapp {
    text-align: center;
}
.navbar-nav {
	float:none;
	display:inline-block;
}
.menu-top-container{
	line-height: 0;
}

.load_more-wrapp {
    text-align: center;
}
.navbar-nav {
	float:none;
	display:inline-block;
}
.menu-top-container{
	line-height: 0;
}
.front-sticky{
    color:#c90000;
}
.box_item.wrap.margin-bottom-10 img {
	margin:0 auto;
}
