
/**********************Reset*********************/
body {
  min-width: 1210px;
}
h1,
h3,
h2,
p,
a {
  margin: 0;
}
.row {
  margin: 0;
}
.container-fluid {
  padding: 0;
}
.container {
  min-width: 1170px;
  max-width: 1200px;
}

.form-inline .input-group .input-group-addon,
.form-inline .input-group .input-group-btn,
.form-inline .input-group .form-control {
  width: 100%;
}
.btn-primary {
  -webkit-transition: color .5s; /* Safari 3.1 to 6.0 */
  transition: color .5s;
  color: #0b0b0b;
  border-color: #fff;
  background: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #f00000;
  border-color: #fff;
  background-color: #fff;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  border-color: #fff;
  background-color: #fff;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .125);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, .125);
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.modal-content {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .5);
  box-shadow: 0 0 0 rgba(0, 0, 0, .5);
}

.col-md-4_custom {
  float: left;
  position: relative;
  width: 31.33333333%;
  min-height: 1px;
}
/********Start breadcrumbs*********/
.breadcrumb {
  margin: 0;
  padding: 11px 0;
  background-color: #fff;
}
.breadcrumb li a {
  font-family: "pt_sansregular";
  font-size: 13px;
  color: #000;
}
.breadcrumb li a:hover {
  text-decoration: underline;
}
.breadcrumb > .active {
  font-family: "pt_sansregular";
  font-size: 13px;
  color: #777;
}
.breadcrumb > .active:before {
  background: url(../img/crumbs_arrow.png) 3px 4px no-repeat;
}
.breadcrumb > li + li:before {
  padding: 0 10px;
  content: "";
  color: #ccc;
  background: url(../img/crumbs_arrow.png) 3px center no-repeat;
}
/********End breadcrumbs*********/

/********Start pagination*********/
.pagination {
  display: inline-block;
  margin: 20px 0;
  padding-left: 0;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  float: left;
  position: relative;
  margin-left: -1px;
  padding: 6px 12px;
  font-family: "open_sansbold";
  line-height: 20px;
  -webkit-transition: background .5s; /* Safari 3.1 to 6.0 */
  transition: background .5s;
  text-decoration: none;
  color: #000;
  background-color: #e8e8e8;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #fff;
  background-color: #000;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  cursor: default;
  color: #fff;
  background-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  cursor: not-allowed;
  color: #777;
  background-color: #fff;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 14px 20px;
  font-size: 14px;
}
/********End pagination*********/
.container,
.col-md-4,
.col-md-8,
.col-md-9,
.col-md-3,
.col-md-2,
.col-md-1,
.col-md-12 {
  padding: 0;
}
.overflow {
  overflow: hidden;
}
.inline {
  display: inline-block;
}


.margin-top-3 {
  margin-top: 3px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-7 {
  margin-top: 7px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-17 {
  margin-top: 17px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-3 {
  margin-bottom: 3px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-8 {
  margin-bottom: 8px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-12 {
  margin-bottom: 12px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-bottom-17 {
  margin-bottom: 17px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-25 {
  margin-bottom: 25px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-bottom-33 {
  margin-bottom: 33px;
}
.margin-bottom-35 {
  margin-bottom: 35px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.margin-bottom-45 {
  margin-bottom: 45px;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
.margin-bottom-60 {
  margin-bottom: 60px;
}
.margin-bottom-65 {
  margin-bottom: 65px;
}
.margin-bottom-70 {
  margin-bottom: 70px;
}
.margin-bottom-155 {
  margin-bottom: 155px;
}


.margin-right-2 {
  margin-right: 2px;
}
.margin-right-3 {
  margin-right: 3px;
}
.margin-right-5 {
  margin-right: 5px;
}
.margin-right-7 {
  margin-right: 7px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-right-15 {
  margin-right: 15px;
}
.margin-right-20 {
  margin-right: 20px;
}
.margin-right-22 {
  margin-right: 22px;
}
.margin-right-25 {
  margin-right: 25px;
}
.margin-right-30 {
  margin-right: 30px;
}
.margin-right-35 {
  margin-right: 35px;
}
.margin-right-40 {
  margin-right: 40px;
}
.margin-right-50 {
  margin-right: 50px;
}
.margin-right-55 {
  margin-right: 55px;
}
.margin-right-60 {
  margin-right: 60px;
}
.margin-right-65 {
  margin-right: 65px;
}
.margin-right-70 {
  margin-right: 70px;
}
.margin-right-95 {
  margin-right: 95px;
}


.margin-left-5 {
  margin-left: 5px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-left-15 {
  margin-left: 15px;
}
.margin-left-20 {
  margin-left: 20px;
}


.padding-9 {
  padding: 9px 9px 5px 9px;
}

.padding-10 {
  padding: 10px;
}
.padding-15 {
  padding: 15px;
}
.padding-20 {
  padding: 20px;
}
.padding-30 {
  padding: 30px;
}
.padding-40 {
  padding: 40px;
}


.padding-left-30 {
  padding-left: 30px;
}
.padding-left-40 {
  padding-left: 40px;
}

.padding-right-10 {
  padding-right: 10px;
}
.padding-right-13 {
  padding-right: 13px;
}
.padding-right-15 {
  padding-right: 15px;
}
.padding-right-20 {
  padding-right: 20px;
}
.padding-right-23 {
  padding-right: 23px;
}
.padding-right-25 {
  padding-right: 25px;
}
.padding-right-30 {
  padding-right: 30px;
}
.padding-right-35 {
  padding-right: 35px;
}


.padding-top-0 {
  padding-top: 0;
}
.padding-top-3 {
  padding-top: 3px;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-top-6 {
  padding-top: 6px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-15 {
  padding-top: 15px;
}
.padding-top-20 {
  padding-top: 20px;
}
.padding-top-25 {
  padding-top: 25px;
}
.padding-top-30 {
  padding-top: 30px;
}
.padding-top-40 {
  padding-top: 40px;
}
.padding-top-50 {
  padding-top: 50px;
}
.padding-top-60 {
  padding-top: 60px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}
.padding-bottom-15 {
  padding-bottom: 15px;
}
.padding-bottom-20 {
  padding-bottom: 20px;
}
.padding-bottom-25 {
  padding-bottom: 25px;
}
.padding-bottom-30 {
  padding-bottom: 30px;
}
.padding-bottom-40 {
  padding-bottom: 40px;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.float-none {
  float: none;
}

.wrap {
  position: relative;
  overflow: hidden;
}

.bg_red {
  background: #ff5223;
}
.bg_grey {
  background: #f2f2f2;
}
.bg_blue {
  background: #2f8ffb;
}
.bg_footer {
  background: #303030;
}

.border_grey {
  border: 1px solid #dcdcdc;
}
.border_white_1 {
  border: 1px solid #fff;
}
.border_grey_1:hover {
  border: 1px solid #ededed;
}
.border_bottom_dashed {
  border-bottom: 1px dashed #d1d1d1;
}
.border_right_dashed {
  border-right: 1px dashed #d1d1d1;
}
.border_left_dashed {
  border-left: 1px dashed #d1d1d1;
}
.border-right_grey {
  border-right: 1px solid #e8e8e8;
}
.border-bottom_grey {
  border-bottom: 1px solid #ededed;
}
.border-bottom_grey_1 {
  border-bottom: 1px solid #e8e8e8;
}
.border-bottom_black {
  border-bottom: 2px solid #0e1215;
}
.border-top_grey {
  border-top: 2px solid #e8e8e8;
}

.border-radius-3 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.color_red {
  color: #f00;
}
.color_red_1 {
  color: #d11818;
}
.color_red_2 {
  color: #c90000;
}
.color_orange {
  color: #ff7748;
}
.color_black {
  color: #000;
}
.color_white {
  color: #fff;
}
.color_grey {
  color: #636363;
}
.color_grey_1 {
  color: #c7c7c7;
}
.color_grey_2 {
  color: #b6b7b8;
}
.color_grey_3 {
  color: #707070;
}
.color_grey_4 {
  color: #a5a5a5;
}
.color_grey_5 {
  color: #9e9e9e;
}
.color_grey_6 {
  color: #afafaf;
}
.color_grey_7 {
  color: #c0c0c0;
}
.color_grey_8 {
  color: #4f4f4f;
}
.color_grey_9 {
  color: #636363;
}

.ptsans_regular {
  font-family: "pt_sansregular";
}
.ptsans_bold {
  font-family: "pt_sansbold";
}
.ptserif_regular {
  font-family: "pt_serifregular";
}
.opensans_regular {
  font-family: "open_sansregular";
}
.opensans_bold {
  font-family: "open_sansbold";
}

.font_bold {
  font-weight: bold;
}
.font_normal {
  font-weight: normal;
}
.font-normal {
  font-style: normal;
}
.font_weight_500 {
  font-weight: 500;
}

.font_11 {
  font-size: 11px;
}
.font_12 {
  font-size: 12px;
}
.font_14 {
  font-size: 14px;
}
.font_16 {
  font-size: 16px;
}
.font_18 {
  font-size: 18px;
}
.font_20 {
  font-size: 20px;
}
.font_24 {
  font-size: 24px;
}
.font_30 {
  font-size: 30px;
}
.font_36 {
  font-size: 36px;
}

.ln-h_8 {
  line-height: 8px;
}
.ln-h_10 {
  line-height: 10px;
}
.ln-h_11 {
  line-height: 11px;
}
.ln-h_18 {
  line-height: 18px;
}
.ln-h_20 {
  line-height: 20px;
}
.ln-h_24 {
  line-height: 24px;
}
.ln-h_26 {
  line-height: 26px;
}
.ln-h_28 {
  line-height: 28px;
}
.ln-h_37 {
  line-height: 36px;
}
.ln-h_45 {
  line-height: 45px;
}

.relative {
  position: relative;
}


.width-100-percent {
  width: 100%;
}
.width-15 {
  width: 15px;
}
.width-77 {
  width: 77%;
}
.width-57 {
  width: 57px;
}
.width-95 {
  width: 95px;
}
.width-98 {
  width: 98px;
}
.width-191 {
  width: 191px;
}
.width-255 {
  width: 255px;
}
.width-860 {
  width: 860px;
}


.height-20 {
  height: 20px;
}
.height-300 {
  height: 300px;
}
.height-381 {
  height: 381px;
}
.height-36 {
  height: 36px;
}
.height-53 {
  max-height: 53px;
}
.height-57 {
  height: 57px;
}
.height-75 {
  max-height: 75px;
}
.height-76 {
  height: 76px;
}
.height-80 {
  height: 80px;
}
.height-100 {
  height: 100px;
}
.height-140 {
  height: 140px;
}
.height-333 {
  height: 333px;
}
.height-355 {
  height: 355px;
}
.height-395 {
  height: 395px;
}


/*.col-md-4 {width: 30.33333333%;}*/
.col-md-14 {
  width: 14.666667%;
}
.col-md-4-30,
.col-md-8,
.col-md-6-title {
  float: left;
  position: relative;
  /*padding-right: 15px;
  padding-left: 15px;*/
  width: 32%;
  min-height: 1px;
}
.col-md-4-30 .box_item_wrap {
  min-height: 165px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.col-md-8 {
  width: 65.7%;
}
.col-md-6-title {
  width: 48.2%;
}
.col-md-2-a {
  float: left;
  position: relative;
  /*padding-right: 15px;
  padding-left: 15px;*/
  width: 11.666667%;
  min-height: 1px;
}
.col-md-main {
  float: left;
  position: relative;
  /*padding-right: 15px;
  padding-left: 15px;*/
  width: 877px;
  min-height: 1px;
}
/********Start index*********/
.container_top .avatar {
  width: 76px;
  height: 76px;
  margin: 0 18px 0 0;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}

.container_top .header_item .in {
  /*border-right: 1px solid #e8e8e8;*/
  background: url(../img/index_header_border_marker.png) 100% center no-repeat;
}
.container_top .header_item:last-child .in {
  /*border-right: none;*/
  background: none;
}
.container .header_item__text {
  width: 74%;
}
.container_top .border_marker {
  position: absolute;
  top: 29px;
  right: 14px;
  width: 1px;
  height: 75px;
  background: #e8e8e8;
}
.container_top .blog_link,
.sidebar_box .blog_link {
  font-family: "pt_serifregular";
  font-size: 16px;
  line-height: 18px;
  color: #000;
}
.container_top .blog_link {
  line-height: 12px;
}
.container_top .blog_link:hover,
.sidebar_box .blog_link:hover {
  color: #f00000;
}
.container_top p {
  font-family: "pt_sansregular";
  font-size: 14px;
  line-height: 18px;
  color: #636363;
}
.container_top span,
.sidebar_box p,
.sidebar_box span {
  font-family: "pt_serifregular";
  font-size: 13px;
}

.container_top .modal-content label {
  margin-left: 10px;
  font-family: "open_sansregular";
  font-size: 30px;
  color: #fff;
}
.container_top .modal-content .header_search {
  height: 50px;
  font-family: "open_sansregular";
  font-size: 30px;
  color: #fff;
  background: transparent;
}
.container_top .search_block .search_btn {
  font-family: "pt_sansregular";
  font-size: 16px;
  line-height: 28px;
}
/*
.sidebar_box .fb_plugin {
  background: url(../img/fb_plugin.png) 0 0 no-repeat;
}
.sidebar_box .twitter_plugin {
  background: url(../img/twitter_plugin.png) 0 0 no-repeat;
}
*/
.container-fluid_black {
  height: 7px;
  background: #373b41;
}
.container-fluid_grey {
  background: #f4f5f7;
}
/****Start logo****/
.index_header .logo {
  width: 310px;
  margin: 0 auto;
}
.index_header .logo a {
  display: block;
  height: 45px;
  font-size: 0;
  /*padding-left: 20px;*/
  background: url(../img/logo.png) 16px 0 no-repeat;
}
.logo_block span {
  font-family: "pt_serifregular";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
}
/****End logo****/
.search_block .header_search,
.search_block .header_search_btn {
  border: none;
}
.search_block .header_search {
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-box-shadow: inset 0 0 0 rgba(255, 255, 255, 1);
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 1);
}

/**************Start placeholder**************/
.form-control::-moz-placeholder {
  font-family: "pt_sansregular";
  font-size: 16px;
  line-height: 25px;
  opacity: 1;
  color: #000;
}
.form-control:-ms-input-placeholder {
  font-family: "pt_sansregular";
  font-size: 16px;
  line-height: 25px;
  color: #000;
}
.form-control::-webkit-input-placeholder {
  font-family: "pt_sansregular";
  font-size: 16px;
  line-height: 25px;
  color: #000;
}
/**************End placeholder**************/

/**************Start index_menu**************/
.navbar-nav.nav-justified > li {
  width: auto;
}

/**************End index_menu**************/

/**************Start content**************/

/********Start main*********/
.article_head {
  font-size: 23px;
}
.article_head_skin {
  font-family: "pt_serifregular";
  font-size: 18px;
  line-height: 14px;
  color: #000;
}
.col-md-6-title .article_head_skin {
  font-size: 26px;
  line-height: 34px;
}
.article_description_skin {
  font-family: "pt_sansregular";
  font-size: 12px;
  line-height: 16px;
  color: #9e9e9e;
}
.article_text_skin {
  font-family: "pt_sansregular";
  font-size: 14px;
  line-height: 20px;
  color: #6a6a6a;
}
.article_link {
  font-family: "open_sansbold";
  font-size: 15px;
  line-height: 28px;
  color: #000;
}
.content .load_more {
  font-family: "pt_sansbold";
  font-size: 15px;
  line-height: 18px;
  color: #000;
  border: none;
}

.content .comments_amount {
  padding-left: 17px;
  background: url(../img/comments_icon.png) 1px 2px no-repeat;
}
.content .comments_amount.inverse_icon {
  background: url(../img/comments_icon_white.png) 1px 2px no-repeat;
}
.content .comments_amount.shaded_icon {
  background: url(../img/comments_icon_white_shaded.png) 1px 2px no-repeat;
}
.content .views_amount {
  padding-left: 20px;
  background: url(../img/pin.png) -1px 0 no-repeat;
}
.content .descript_date {
  padding-left: 20px;
  background: url(../img/calendar.png) 1px 0 no-repeat;
}
.content .facebook {
  background: url(../img/share_facebook.png) 0 0 no-repeat;
}
.content .google {
  background: url(../img/share_google.png) 0 0 no-repeat;
}
.content .vk {
  background: url(../img/share_vk.png) 0 0 no-repeat;
}
.content .twitter {
  background: url(../img/share_twitter.png) 0 0 no-repeat;
}



.content .section_head {
  font-family: "pt_serifregular";
  font-size: 36px;
  line-height: 28px;
  color: #000;
}

.content .list-inline .time {
  font-family: "open_sansregular";
  font-size: 11px;
  line-height: 24px;
  color: #9e9e9e;
}
.content .list-inline li a {
  font-family: "pt_sansregular";
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
.content .col_item li a {
  font-family: "pt_serifregular";
  font-size: 20px;
  line-height: 26px;
  color: #000;
}
.content .list-inline li a:hover {
  text-decoration: none;
  color: #f00000;
}
.content .dl-horizontal .news_list_tag,
.sidebar_box .dl-horizontal .news_list_tag {
  padding: 3px 5px 0 6px ;
  font-family: "pt_sansbold";
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.content .block_date {
  padding: 0 10px;
  font-family: "pt_sansbold";
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .8px;
  text-transform: uppercase;
  background: #fff;
}
.content .block_date_row {
  background: url(../img/bg_line.png) 0 center repeat-x;
}
.content .fa-th {
  font-size: 19px;
}
.content .fa-bars {
  font-size: 20px;
}
.content .blogs_author {
  background: url(../img/blogs_marker.png) 124px 3px no-repeat;
}
.content .dl-horizontal dt {
  float: left;
  clear: left;
  overflow: hidden;
  width: 20px;
  text-align: right;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content .dl-horizontal dd {
  margin-left: 27px;
}
.content .news_row .dl-horizontal dt {
  float: left;
  clear: left;
  overflow: hidden;
  width: 30px;
  font-weight: normal;
  text-align: right;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content .news_row .dl-horizontal dd {
  margin-left: 42px;
}
.content .blogger_name {
  padding: 0 78px 0 78px;
}
.content .blogger_name p {
  padding-bottom: 20px;
  background: url(../img/blogger_line.png) center 100% no-repeat;
}
.content .article_text .dl-horizontal dt {
  float: left;
  clear: left;
  overflow: hidden;
  width: 110px;
  font-weight: normal;
  text-align: right;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content .article_text .dl-horizontal dd {
  margin-left: 113px;
}
.content .likes_dislikes {
  background: url(../img/thumbs.png) 0 center no-repeat;
}
.content .media-heading {
  background: url(../img/comments_marker.png) right center no-repeat;
  padding-right: 15px;
  margin-right: 10px;
}
.content .reply {
  background: url(../img/comments_marker.png) 66px center no-repeat;
}
.content .triag {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}
.content .triag_black {
  bottom: 0;
  left: 32px;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #000 transparent;
}
.content .triag_white {
  bottom: -2px;
  left: 33px;
  border-width: 0 14px 15px 14px;
  border-color: transparent transparent #fff transparent;
}
/*.content .container {background: url(../img/main_bg_line.png) 907px 0 repeat-y;}*/

.content .blogs_row {
  border: 1px solid #fff;
}
.content .blogs_row:hover {
  border: 1px solid #ededed;
}

.index_menu {
  background: #f4f5f7;
}
.index_menu .navbar {
  min-height: 44px;
}
.index_menu .navbar-collapse {
  padding: 0;
}
.index_menu .menu-top-container-right {
  float: right;
}
.index_menu .navbar-nav > li {
  padding-right: 10px;
}
.index_menu .navbar-nav > li::before {
  display: inline-block;
  width: 4px;
  height: 5px;
  margin-right: 10px;
  content: "";
  vertical-align: middle;
  background: url("img/header_menu_marker.png") 1px 21px no-repeat;
}
.index_menu .navbar-nav > li:first-child::before {
  display: none;
}
.index_menu .navbar-nav > li:last-child {
  padding-right: 0;
}
.index_menu .navbar-nav > li > a {
  display: inline-block;
  padding: 13px 0 11px;
  font-family: "pt_sansbold";
  -webkit-transition: color .5s; /* Safari 3.1 to 6.0 */
  transition: color .5s;
  vertical-align: middle;
/*  color: #050505;*/
}
.index_menu .navbar-nav > li > a:hover,
.index_menu .navbar-nav > .current-menu-item > a {
  position: relative;
  color: #cc2626;
  background: none;
}
.index_menu .navbar-nav > .current-menu-item > a::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3px;
  content: "";
  background: #cc2626;
}
.view {
  display: block;
}
.view::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: rgba(0,0,0,0) 0, rgba(0,0,0,0) 60%, rgba(0,0,0,.3) 100%;
  background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,.3) 100%);
  background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,.3) 100%);
  z-index: 1;
}
.date-on-photo {
  position: absolute;
  right: 18px;
  bottom: 12px;
  left: 18px;
  z-index: 2;
  color: #FFF;
}
.date-on-photo .article_description_skin {
  color: #FFF;
}

/********Start slider*********/
/** Stage container **/

.connected-carousels .stage {
  /*margin: 10px auto;*/
  position: relative;
  width: 859px;
}

.connected-carousels .photo-credits {
  position: absolute;
  right: 15px;
  bottom: 0;
  font-size: 13px;
  opacity: .66;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, .85);
}

.connected-carousels .photo-credits a {
  color: #fff;
}

/** Navigation container **/

.connected-carousels .navigation {
  position: relative;
  width: 735px;
  margin: 0 auto;
  padding: 15px 0;
}

/** Shared carousel styles **/

.connected-carousels .carousel {
  overflow: hidden;
  position: relative;
}

.connected-carousels .carousel ul {
  position: relative;
  width: 20000em;
  margin: 0;
  padding: 0;
  list-style: none;
}

.connected-carousels .carousel-stage li {
  float: left;
  width: 859px;
  height: 574px;
  line-height: 574px;
  text-align: center;
  background: #f2f2f2;
}
.connected-carousels .carousel-navigation li {
  float: left;
}

/** Stage carousel specific styles **/

.connected-carousels .carousel-stage {
  height: 574px;
}

/** Navigation carousel specific styles **/

.connected-carousels .carousel-navigation {
  width: 740px;
  height: 94px;
  background: #f2f2f2;
}

.connected-carousels .carousel-navigation li {
  cursor: pointer;
}

.connected-carousels .carousel-navigation li img {
  display: block;
}

.connected-carousels .carousel-navigation li.active img {
  border-color: #ccc;
}

/** Stage carousel controls **/

.connected-carousels .prev-stage,
.connected-carousels .next-stage {
  display: block;
  position: absolute;
  top: 0;
  width: 100px;
  height: 574px;
  background: rgba(240,240,239, .4);
}

.connected-carousels .prev-stage {
  left: 0;
}

.connected-carousels .next-stage {
  right: 0;
}

.connected-carousels .prev-stage.inactive,
.connected-carousels .next-stage.inactive {
  display: none;
}

.connected-carousels .prev-stage span,
.connected-carousels .next-stage span {
  display: block;
  position: absolute;
  top: 42%;
  width: 100px;
  height: 100px;
  text-align: center;
  text-decoration: none;
  opacity: 1;
}

.sidebar_box .blog_item__text {
  width: 68%;
}
.sidebar_box .blog_item__text h3 {
  line-height: 19px;
}

.connected-carousels .prev-stage span {
  left: 0;
  background: url(../img/arrow-left.png) center center no-repeat;
}

.connected-carousels .next-stage span {
  right: 0;
  background: url(../img/arrow-right.png) center center no-repeat;
}

.connected-carousels .prev-stage:hover span,
.connected-carousels .next-stage:hover span {
  display: block;
}

/** Navigation carousel controls **/

.connected-carousels .prev-navigation,
.connected-carousels .next-navigation {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  text-decoration: none;
}

.connected-carousels .prev-navigation {
  top: 43px;
  left: -43px;
  text-indent: 6px;
  background: url(../img/black-arrow-left.png) center center no-repeat;
}

.connected-carousels .next-navigation {
  top: 43px;
  right: -39px;
  text-indent: 20px;
  background: url(../img/black-arrow-right.png) center center no-repeat;
}

.connected-carousels .prev-navigation.inactive,
.connected-carousels .next-navigation.inactive {
  cursor: default;
  opacity: .5;
}
/********End slider*********/

/********End main*********/

/********Start sidebar*********/
.sidebar_box .category,
.sidebar_box .amount {
  display: inline-block;
}
.sidebar_box h2 {
  margin-bottom: 20px;
  font-family: "pt_serifregular";
  font-size: 24px;
  line-height: 28px;
  color: #000;
}
.sidebar_box .category {
  font-family: "pt_serifregular";
  font-size: 18px;
  line-height: 28px;
  color: #000;
}
.sidebar_box .category:hover {
  color: #f00000;
}
.sidebar_box .amount {
  font-family: "pt_serifregular";
  font-size: 18px;
  line-height: 28px;
  color: #b6b7b8;
}
.sidebar_box .dl-horizontal dt {
  float: left;
  clear: left;
  overflow: hidden;
  width: 40px;
  text-align: right;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sidebar_box .dl-horizontal dd {
  margin-left: 42px;
}
/********End sidebar*********/

/**************End content**************/


/**************Start footer**************/
.footer-logo .ft_logo {
  width: 250px;
}
.footer-logo .ft_logo a {
  display: block;
  height: 29px;
  font-size: 0;
  background: url(../img/footer_logo.png) 0 0 no-repeat;
}
.footer-logo span {
  font-family: "pt_sansregular";
  font-size: 14px;
  line-height: 30px;
  text-transform: capitalize;
  color: #727272;
}
.sitemap .menu {
  padding: 0;
  margin: 0;
}
.sitemap .menu-item {
  display: inline-block;
}
.sitemap .menu-item::before {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 23px;
  content: "";
  vertical-align: middle;
  border-radius: 2px;
  background: #e8e8e8;
}
.sitemap .menu-item:first-child::before {
  display: none;
}
.sitemap .menu-item a,
.social h3 {
  font-family: "pt_sansregular";
  font-size: 14px;
  line-height: 18px;
  color: #e8e8e8;
}
.sitemap a:hover {
  text-decoration: underline;
}
.contacts .contacts_item {
  display: inline-block;
  font-family: "pt_sansregular";
  font-size: 14px;
  line-height: 13px;
  color: #e8e8e8;
}
.social .social-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 20px;
  -webkit-transition: background .6s; /* Safari 3.1 to 6.0 */
  transition: background .6s;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  background-color: #222;
  background-position: center center;
  background-repeat: no-repeat;
}
.index_header .social .social-icon {
  width: 31px;
  height: 31px;
  background-color: #eaeaea;
  margin-top: 2px;
}
.bg_footer .social .social-icon {
  width: 28px;
  height: 28px;
  border: 2px solid #fff;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  background-color: none;
}
.comments_social .social-icon {
  display: inline-block;
  width: 33px;
  height: 33px;
  margin-right: 10px;
  -webkit-transition: background .6s; /* Safari 3.1 to 6.0 */
  transition: background .6s;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}

.social .youtube {
  background-image: url(../img/icon-youtube.png);
}
.social .youtube:hover {
  background-color: #ca0606;
}
.social .instagram {
  background-image: url(../img/instagram.png);
}
.social .instagram:hover {
  background-color: #f37806;
}
.social .facebook {
  background-image: url(../img/facebook_icon.png);
}
.social .facebook:hover {
  background-color: #3b5998;
}
.comments_social .facebook {
  background: #3b5998 url(../img/facebook_icon.png) center center no-repeat;
}
.comments_social .facebook:hover {
  background: #213153 url(../img/facebook_icon.png) center center no-repeat;
}
.social .twitter {
  background-image: url(../img/twitter_icon.png);
}
.social .twitter:hover {
  background-color: #00aced;
}
.comments_social .twitter {
  background: #222 url(../img/twitter_icon.png) center center no-repeat;
}
.comments_social .twitter:hover {
  background: #0095cd url(../img/twitter_icon.png) center center no-repeat;
}
.comments_social .google_plus {
  background: #434647 url(../img/google_white.png) 9px center no-repeat;
}
.comments_social .google_plus:hover {
  background: #585d5e url(../img/google_white.png) 9px center no-repeat;
}
.social .vk {
  background-image: url(../img/vk_icon.png);
}
.social .vk:hover {
  background-color: #4c75a3;
}
.bg_footer .social .vk {
  background-image: url(../img/vk_icon-small.png);
}
.bg_footer .social .instagram {
  background-image: url(../img/instagram-small.png);
}
.bg_footer .social .youtube {
  background-image: url(../img/icon-youtube-small.png);
}
.bg_footer .social .twitter {
  background-image: url(../img/twitter_icon-small.png);
}
.index_header .social .facebook {
  background-image: url(../img/facebook_icon-black.png);
}
.index_header .social .twitter {
  background-image: url(../img/twitter_icon-black.png);
}
.index_header .social .vk {
  background-image: url(../img/vk_icon-black.png);
}
.index_header .social .instagram {
  background-image: url(../img/instagram-black.png);
}
.index_header .social .youtube {
  background-image: url(../img/icon-youtube-black.png);
}
.white_box .footer_white_box {
  width: 89px;
  height: 30px;
  background: #fff;
}

.last_news dl {
  margin-bottom: 5px;
}
.last_news_title {
  text-transform: uppercase;
}
.last_news_date dt::before {
  display: block;
  height: 1px;
  margin-top: 5px;
  content: "";
  background: #eaeaea;
}
.last_news_date dd {
  color: #858585;
}
.last_news_more a {
  text-decoration: underline;
}
.content .news_row .last_news_more dt {
  text-align: right;
}
.autor_item .article_head_skin,
.autor_item .article_description_skin {
  transition: color .5s;
  color: #fff;
}
.autor_item .article_head_skin:hover,
.article_text p a:hover,
.media .btn-link:hover
.comment-item-footer-btn {
  color: #f00000;
}
.autor_item .comments_amount {
  opacity: .3;
}
.autor_item .box_item .avatar {
  border: 3px solid #fff;
  border-radius: 50%;
}
.autor_item .col-in {
  background: rgba(35,35,35,.9);
}
.autor_item_special .col-in {
  background: rgba(114,20,24,.9);
}
.favorite_item .col-in {
  background: rgba(0,0,0,.7);
}
.favorite_item .article_head::before {
  display: inline-block;
  height: 100%;
  min-height: 100%;
  content: "";
  vertical-align: middle;
}
.favorite_item .article_head_skin {
  display: inline-block;
  font-size: 30px;
  line-height: 37px;
  vertical-align: middle;
}
.article_text p {
  margin-bottom: 30px;
}
.article_photo,
.article_text img {
  width: auto;
  max-width: 100%;
  height: auto;
}
.article_text p a {
  text-decoration: underline;
  color: #ad4900;
}
.article_text .wp-caption-text,
.article_text .photo-title {
  padding: 5px 0;
  font-size: 12px;
  font-style: italic;
  color: #c1c1c1;
}
blockquote {
  position: relative;
  padding: 20px 60px;
  word-wrap: break-word;
  border: none;
  background: #f5f5f5;
}
blockquote::before,
blockquote::after {
  position: absolute;
  top: 12px;
  left: 24px;
  font-size: 36px;
  line-height: 36px;
  content: "«";
  color: #ca3e00;
}
blockquote::after {
  top: auto;
  right: 24px;
  bottom: 17px;
  left: auto;
  content: "»";
}
.article_text ul {
  padding-left: 15px;
  list-style: square;
}
.article_text ol {
  padding-left: 0;
  list-style-position: inside;
}
.article_text ul li,
.article_text ol li {
  font-weight: bold;
  line-height: 30px;
/*  color: #f00;*/
}
.article_text li span,
.article_text ol span {
  font-weight: normal;
  color: #333;
}
.content .article_text .article_time_line dt {
  width: 55px;
  margin-top: 2px;
}
.article_text .article_time_line dt span {
  color: #333;
}
.content .article_text .article_time_line dd {
  margin-left: 60px;
}
.content .article_text::after {
  display: block;
  clear: both;
  content: "";
}
.media .media,
.depth-2.comments_item {
  overflow: visible;
  position: relative;
  padding-left: 60px;
}
.media .btn-link,
.comment-item-footer-btn {
  text-decoration: underline;
  color: #c20000;
}
.parent + .depth-2.comments_item::before,
.btn-link + .media::before {
  position: absolute;
  top: -18px;
  left: 20px;
  width: 32px;
  height: 30px;
  content: "";
  background: url(../img/answer-icon.png) no-repeat;
}
.media-list {
  margin-bottom: 30px;
}
.label-type-news {
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 0 10px;
  font: 600 12px/25px Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  background: #cc2626;
}
.post-social-wrapp {
  overflow: hidden;
  padding: 30px 0 34px;
  border-top: 2px solid #e6e7e7;
}
.post-social-wrapp .descript_block {
  margin-left: 20px;
}
.post-social {
  overflow: hidden;
}
.post-social .social-icon {
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 120px;
  height: 36px;
  margin: 0 4px 4px 0;
  padding: 0 10px 0 37px;
  font: 12px/36px "open_sanssemibold";
  transition: background-color .3s;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  background: #0a88ff;
}
.post-social .social-icon:hover {
  cursor: pointer;
  background: #097be6;
}
.post-social .social-icon::before {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 17px;
  height: 18px;
  content: "";
  background: url(../img/email_icon_btn.png) no-repeat center;
}
.post-social .facebook {
  background: #306199;
}
.post-social .facebook:hover {
  background: #28507e;
}
.post-social .facebook::before {
  background-image: url(../img/facebook_icon_btn.png);
}
.post-social .twitter {
  background: #26c4f1;
}
.post-social .twitter:hover {
  background: #24b6df;
}
.post-social .twitter::before {
  background-image: url(../img/twitter_icon.png);
}
.post-social .google_plus {
  background: #e93f2e;
}
.post-social .google_plus:hover {
  background: #cf3a2b;
}
.post-social .google_plus::before {
  background-image: url(../img/google_btn.png);
}
.post-social-wrapp .article_description_skin {
  font-size: 16px;
  line-height: 36px;
}
.article-tags-wrapp {
  margin-top: 14px;
}
.article-tag {
  display: inline-block;
  height: 28px;
  margin: 0 8px 8px 0;
  padding: 0 18px;
  line-height: 28px;
  text-transform: uppercase;
  color: #b0b0b0;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}
.news-for-article {
  padding-top: 20px;
  border-top: 2px solid #0e1215;
}
.comments_block {
  padding: 20px 30px;
  background: #f7f7f7;
}
.comments_block input,
.comments_block textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 12px;
  color: #333;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  background: #fff;
}
.comments_block textarea,
.comments_block textarea:focus {
  width: 100%;
  max-width: 100%;
  height: 108px;
  border: 1px solid #d6d6d6;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.comments_block textarea::-webkit-input-placeholder {
  color: #919191;
}
.comments_block textarea::-moz-placeholder {
  color: #919191;
}
.comments_block textarea:-ms-input-placeholder {
  color: #919191;
}
.comments_block .comment-form-author {
  margin-bottom: 10px;
}
.btn-send {
  font: 14px "pt_sansbold";
  transition: background-color .3s;
  text-transform: uppercase;
  color: #fff;
  background-color: #d90000;
}
.btn-send:hover {
  color: #fff;
  background-color: #c00101;
}
.last-news-post .col-md-4-30 {
  width: 32.17%;
}